html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.principal-box {

}

.img-container {
    width: calc(25% - 13px);
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.img-row {
    display: inline-block;
    margin: 20px;
}

.image {
    width: 100%;
}

.img-row p {
    margin-top: 2px;
    margin-bottom: 2px;
}